{% extends "base.html" %} {% block title %}Cart{% endblock %} {% block content
%}
<h1 align="center">Cart</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for key, value in cart.items() %} {% for product in products %} {% if key
  == product.prod_id %}

  <li class="list-group-item">
    <strong>Name: </strong>{{ product.name }} |||
    <strong>Description: </strong>{{product.description}} |||<strong
      >Price: </strong
    >{{product.retail_price}}€ ||| <strong>Quantity: </strong>{{ value }} |||
    <strong>Total: </strong>{{product.retail_price * value}}€
    <a
      href="/cart/delete/{{ product.prod_id }}/{{ user.id }}"
      class="close"
      style="color: red"
    >
      <span aria-hidden="true">&times;</span>
    </a>
    <a href="/cart/add/{{ product.prod_id }}/{{ user.id }}" class="close">
      <span aria-hidden="true">&plus;</span>
    </a>
    <a href="/cart/remove/{{ product.prod_id }}/{{ user.id }}" class="close">
      <span aria-hidden="true">&minus;</span>
    </a>
  </li>
  {% endif %} {% endfor %} {% endfor %}
</ul>
<br />
<div>
  <p align="center" class="list-group-item">
    Cart Total: <strong>{{ total }}€</strong>
  </p>
</div>
<br />
<div>
  <h4>Check delivery information before go any further:</h4>
  <br />
  <p>Name: {{ user.first_name }} {{ user.last_name }}</p>
  <p>Address: {{ user.address }}</p>
  <p>NIF: {{ user.nif }}</p>
  <p>Phone Number: {{ user.phone }}</p>
  <p>Email: {{ user.email }}</p>
</div>
<br />

<form action="" method="POST">
  <textarea
    name="delivery-note"
    class="form-control"
    placeholder="Delivery Notes:"
    style="height: 100px"
  ></textarea>
  <br />
  <select
    name="payment_method"
    class="form-control"
    style="width: 100%; height: 50px"
    required
  >
    <option selected disabled value="">Select your payment method</option>
    <option value="visa">Visa</option>
    <option value="mb">MB</option>
    <option value="transfer">Tranfer</option>
  </select>

  <br />

  <div align="center">
    <button type="submit" class="btn btn-dark">Order</button>
  </div>
</form>
{% endblock %}
