body{
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(48, 48, 48);
}

.content{
    text-align: center;
    margin: 0 auto;
    width: 50%;
}
table{
    border: 2px solid gray;
    border-radius: 5px;
    width: 100%;
    background-color: rgb(88, 88, 88);
}
form{
    width: 100%;
}