
h3{
    margin-top: 2rem;
}

/* --------------------------------------
    LOGO
---------------------------------------- */

#store_id{
    font-family: 'Press Start 2P', cursive;
    color: white;
}

/*---------------------------------------
  SITE HEADER              
-----------------------------------------*/
.site-header {
    width: 100%;
    height: 300px;
    background-color: rgb(206, 206, 207);
    position: relative;
    overflow: hidden;

    padding: 2rem;
}

.choose{ 
    color: rgb(214, 0, 0);
    display: block;
}

.stuffs{
    color: white;
}


/* --------------------------------------
    main container
---------------------------------------- */
/* .main{
    min-height: 90vh;
    margin:0%


} */

.container{
    width: 95% !important;
    padding: 0;
    margin: 0 auto;
    min-height: 95vh;
    max-width: 1500px;
}

.products_container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0%;
    margin-top: 2rem;
    justify-content: center;
}

/* --------------------------------------
    ADMINs PAGE 
---------------------------------------- */

.container-users{
    max-height: 75vh;
    overflow-y: scroll;
    overflow-x: scroll;
}


/* .user_list {
    display: inline-block;
    width: 78%;
    height: auto;
}

.user_list p {
    width: 100%;
    padding: 10px;
    border-bottom: 2px solid black;
}

.user_list_btn {
    display: inline-block;
    width: 19%;
    margin:5px 0;
}

.user_list_btn a{
    margin: 5px 0;
} */


.search_list {
    width: 100%;
    height: auto;
}

.search_list p {
    width: 100%;
    padding: 10px;
    border-bottom: 2px solid black;
}


.product_list{
    display: inline-block;
    width: 80%;
    height: auto;
}

.product_list p {
    width: 100%;
    padding: 10px;
    border-bottom: 2px solid black;
}

/*--------------------------------------
     table 
-----------------------------------------*/


#stock-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 98%;
    margin: 0 auto;
  }
  
  #stock-table td, #stock-table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #stock-table tr:nth-child(even){background-color: #f2f2f2;}
  
  #stock-table tr:hover {background-color: #ddd;}
  
  #stock-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2c3236;
    color: white;
  }
.center{
    text-align: center;
}

.low-stock{
    background-color: rgb(211, 104, 104) !important ;
}


/*--------------------------------------
     forms 
-----------------------------------------*/
.form-group{
    margin: 1rem 3rem;
}

.login-btn{
    margin: 0rem 3rem ;
}
.sign-up-btn{
    margin: 0rem 3rem ;
}

/*---------------------------------------
  GRAPHS           
-----------------------------------------*/

.graph-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.graph {
    max-width: 30%;
    min-width: 500px;
}





/*---------------------------------------
  SITE FOOTER               
-----------------------------------------*/
.site-footer {
    width: 100%;
    background: #343a3f;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  
footer span{
    font-size: 2rem;
}

footer a{
    color: red;
    transition: all 0.5s;
}

a:hover{
    text-decoration:none;
    color: white;
}
  

  

  