
h3{
    margin-top: 2rem;
}

/* --------------------------------------
    LOGO
---------------------------------------- */

#store_id{
    font-family: 'Press Start 2P', cursive;
    color: white;
}

/*---------------------------------------
  SITE HEADER              
-----------------------------------------*/
.site-header {
    width: 100%;
    background-color: rgb(206, 206, 207);
    position: relative;
    overflow: hidden;

    padding: 2rem;
}

.choose{ 
    color: rgb(214, 0, 0);
    display: block;
}

.stuffs{
    color: white;
}


/* --------------------------------------
    main container
---------------------------------------- */
.main{
    min-height: 80vh;

}

.container{
    width: 100% !important;
    padding: 0;
    margin: 0 auto;
}

.products_container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0%;
    margin-top: 2rem;
    justify-content: center;
}


/*--------------------------------------
     forms 
-----------------------------------------*/
.form-group{
    margin: 1rem 3rem;
}

.login-btn{
    margin: 0rem 3rem ;
}
.sign-up-btn{
    margin: 0rem 3rem ;
}

/*---------------------------------------
  SITE FOOTER               
-----------------------------------------*/
.site-footer {
    width: 100%;
    background: #343a3f;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  
footer span{
    font-size: 2rem;
}

footer a{
    color: red;
    transition: all 0.5s;
}

a:hover{
    text-decoration:none;
    color: white;
}
  

  

  